*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.random-gif {
  width: 50%;
  border: 5px solid teal;
  display: flex;
  flex-direction: column;
}

button {
  margin: 1rem 0;
}
